ffmpeg-python
numpy
pyworld
scipy
SoundFile
torch
torchaudio
torchcrepe
tqdm
rich
loguru
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
fairseq
librosa
tensorboard
tensorboardX
transformers
langdetect
pyyaml
pynvml
faiss-cpu
einops
local_attention
ppgs
mamba-ssm
torchdyn
diffusers